extends layout

block content
  .display-body
        .form-section
          .row.title-of-announcement
            label Title of announcement
            .textbox-container
              p= announcementtitle
          .row.description
            label Description
            .textbox-container
              p= description
          .row.apartment.dropdown
            label Type of apartment
            .textbox-container
              p= apartment
          .row.upload.file
            label Uploaded pics
            .textbox-container
              img(src= image1, alt="image1")
              img(src="./public/images/"+ image2, alt="image2")
          .row.Adress
            label Address
            .textbox-container
              p= adress
          .row.price.number
            label Price
            .textbox-container
              p= price
          .row.phone-number.number
            label Phone number
            .textbox-container
              p= phonenumber
  form(action='/delete', method='post')
    button.button.btn-delete(type='submit') Delete data
  button#modal-btn.button= button
  #my-modal.modal
    form.modal-content(id="input_form", name="addEntry", method="post", action="/add")
      // modal header
      .modal-header
        label.close ×
        h2.modal-title Add apartment ad
      // modal body
      .modal-body
        // section one
        .form-section-one
          .row.title-of-announcement
            label Title of announcement
            .textbox-container
              input(name='announcementtitle',type='text', maxlength="150")
            label.error-text
            label.help-text.hide Write a descriptive title
          .row.description
            label Description
            .textbox-container
              textarea(name='description', placeholder='Write something...', maxlength="500")
            label.error-text
            label.help-text.hide Describe the announcement
          .row.apartment.dropdown
            label Type of apartment
            .textbox-container
              select#apartment-type(name='apartment')
                option(disabled='', selected='', value='')  -- Select a type -- 
            label.error-text
            label.help-text.hide
          .row.upload.file
            label Upload your pics
            .textbox-container
              input(name='image1', type='file', multiple, accept='image/*')
              input(name='image2',type='file', multiple, accept='image/*')
              //- button.add-more(onclick='addMore()') Add More
            label.error-text
            label.help-text.hide
          .row.Adress
            label Address
            .textbox-container
              textarea(name='adress', placeholder='Where do you leave?')
            label.error-text
            label.help-text.hide Tell us what's the address
          .row.price.number
            label Price
            .textbox-container
              input(name='price',type='tel')
            label.error-text
            label.help-text.hide Write the price of the apartment
          .row.phone-number.number
            label Phone number
            .textbox-container
              input(name='phonenumber',type='tel')
            label.error-text
            label.help-text.hide Enter the phone number
      // modal footer
      .modal-footer
        button.btn.btn-default.btn-cancel(type='button', data-dismiss='modal') Cancel
        button.btn.btn-default.btn-save(id="submit", name="submit", type='submit', data-dismiss='modal') Save
