:root {
  --modal-duration: 1s;
  --modal-color: #346c9e;
  --modal--hover-color: #12283b;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  font-size: 17px;
  line-height: 1.6;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

input[type=text],input[type=file], input[type=tel], textarea, input[type=color], select, .add-more {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

textarea {
  height: 100px;
}

input[type=color] {
  height: 50px;
}

select {
  text-align-last: center;
}

.error-text {
  color: red;
}

.help-text {
  color: #346c9e;
}

.textbox-container input[type="radio"] {
  display: none;
}

.textbox-container label {
  display: inline-block;
  background-color: #ddd;
  padding: 8px 30px;
  font-family: Arial;
  font-size: 16px;
  border-radius: 4px;
}

.textbox-container input[type="radio"]:checked+label {
  background-color: #bbb;
}

.logo {
  background-repeat: no-repeat;
  height: 50px;
  background-size: contain;
  align-content: center;
}

.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 22%;
}
.btn-cancel, .btn-delete{
  margin-right: 4px;
}
.btn-save{
  margin-left: 4px;
}

.button:hover {
  background: #12283b;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 8% auto;
  width: 55%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  border-radius: 5px;
}

.modal-header h3, .modal-header h5 {
  margin: 5px;
}

.modal-header {
  background: #346c9e;
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-title, .modal-subtitle, .modal-category {
  text-align: -webkit-center;
  text-align: center;
}

.modal-title {
  margin: 2px 0px 2px 17px;
}

.modal-footer {
  background: #346c9e;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
  margin-top: -15px;
}

.close:hover, .close:focus {
  color: var(--modal--hover-color);
  text-decoration: none;
  cursor: pointer;
}

.row {
  text-align: -webkit-center;
  text-align: center;
  margin-top: 5px;
}

.form-section-one {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px 5px 0px;
}


.hide {
  display: none;
}

.show {
  display: block;
}

.invalid {
  box-shadow: 0 0 5px 1px red;
}

input .invalid {
  border: 1px solid red;
}
.display-body{
  padding: 10px 20px;
  background: #346c9e;
  margin: auto 6%;
  width: 45%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  border-radius: 5px;
}
.display-body label{
  font-size: 20px;
  color: #fff;
}